<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPk6Te3QCfP0OODUA41b5P8QhRjWnht-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>793452515375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.GDSC.squadup</string>
	<key>PROJECT_ID</key>
	<string>squadup-de981</string>
	<key>STORAGE_BUCKET</key>
	<string>squadup-de981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793452515375:ios:2b6991a899f2dc73e136da</string>
</dict>
</plist>